{
    "clientId": "MANDATORY: Put your DiscordBot ClientID [to register slash(/) commands, available at Application->OAuth page in discord dev portal]",
	"guildId": "Put your Discord ServerID [to register server-specific slash commands]",
	"token": "MANDATORY: Bot token goes here [used to validate & run the Bot, available at Application->Bot page in discord dev portal]"
}